.content {
  max-height: 534px;
  width: 1140px;
  margin: 133px 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  
}

.result {
display: flex;
flex-direction: column;
justify-content: space-between;
padding-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.search-form__fieldset {
margin-top: auto;
  
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  padding-bottom: 5px;
}

.search-form__label {
  width: fit-content;
  
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid gray;
}

.search-form__label-text {
  appearance: none;
  
}

.visually-hidden {
      position: absolute;
      inline-size: 1px;
      block-size: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      white-space: nowrap;
  }


.search-form__textfield {
  color: white;
  background-color: transparent;
  padding: 2.5px 14px 2.5px 0px;
}

.search-form__checkbox-list {
 
}

.search-form__checkbox {
}

.search-form__pseudo-checkbox {
  display: inline-block;
 border: 1px solid white;
 width: 19px;
 height: 19px;
 cursor: pointer;
}

.search-form__pseudo-checkbox:active(::marker) {
  background-color: white;
  color: azure;
width: 17px;
height: 17px;
}

.search-form__pseudo-checkbox[type="checkbox"]:disabled + .search-form__checkbox {
  
}

.search-form__pseudo-checkbox[type="checkbox"]:checked + .search-form__checkbox {
  
}

.search-form__pseudo-checkbox[type="checkbox"]:focus-visible + .search-form__checkbox {
  
}

.search-form__pseudo-checkbox[type="checkbox"]:hover + .search-form__checkbox {
 
}

.search-form__pseudo-checkbox[type="checkbox"]:active + .search-form__checkbox {
  
}

.search-form__pseudo-checkbox[type="checkbox"]:focus + .search-form__checkbox {
  
}


.button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Fira Sans Condensed', sans-serif;
  cursor: pointer;
  
}

.search-form__submit-button {
  padding: 6px 73.5px;
  margin-top: 20px;
}

.content__details {
  width: inherit;
  height: inherit;
  
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  padding-bottom: 26px;
}

.content__accent {
  color: gray;
}

.content__list {
 max-height: 298px;
  overflow: hidden;
  width: 400px;
}

/*----------ТЕМПЛЕЙТЫ-----------*/

.preloader-template {
}

.square {
}

.cards-list-item-template {
}

.content__list-item {
  
}

.content__list-item:not(:last-of-type) {
  padding-bottom: 30px;
}

.content__card-link {
  color:  #FFFFFF;
text-decoration: none;
}

.content__video-card {
 display: flex;
 justify-content: space-between;
}

.content__video-card-description-container {
  overflow: hidden;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.more-button-template {
  position: relative;
}

.more-button {
  padding: 6px 145.5px;
  white-space: nowrap;
  
}